<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Name a Place Where You See Lots of Things</h4>
</div>
<form class="form-horizontal" action="{{ url_for('newPlace')}}" method="post">
	<div class="modal-body">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="name">This place</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" name="name">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Create a new place!</button>
		<a class="btn btn-default" data-dismiss="modal" href="{{url_for('showPlaces')}}"> Cancel </a>
	</div>
</form>