{% extends "main.html" %}
{% block content %}
<h1>Things You See All Over</h1>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-success alert-dismissable fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>{{ message }}</p>
		</div>
		{% endfor %}
	{% endif %}
{% endwith %}

{% for place in places %}
	<a href = "{{url_for('showThings', place_id = place.id)}}">
		<h3>{{place.name}}</h3>
	</a>
{% endfor %}
<div class="row text-center">
	<a class="btn btn-default" href="{{url_for('newPlace')}}" data-toggle="modal" data-target=".newEditDeleteModal">
			Where&rsquo;s a Place You See All Kinds of Things?
	</a>
</div>
{% endblock %}