{% extends "main.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-10">
			<h1>{{ place.name }}</h1>
	</div>
	<div class="col-sm-2">
			<figure class="creator text-center">
				<img class="img-responsive img-circle" alt="{{creator.name}}" src="{{creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
	</div>
</div>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-success alert-dismissable fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>{{ message }}</p>
		</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div class="row">
	<div class="col-xs-12">
		<p>
			<a href="{{url_for('newThing', place_id = place.id )}}" data-toggle="modal" data-target=".newEditDeleteModal">
				<button class="btn btn-success" id="new-menu-item">
					<i class="fa fa-plus fa-lg"></i> Add a Thing
				</button>
			</a>
		</p>
	</div>
</div>
	
	{% macro all_items(items, kind_of_thing) %}
		{% if items %}
		<h2>{{kind_of_thing}}</h2>
			{% for i in items %}
			<div class="row">
				<div class="col-xs-8">
					{% if i.image %}
					<img class="img-responsive" src="{{ url_for('uploaded_image', filename = i.image)}}" />
					{% endif %}
					<h3>{{i.name}}</h3>
					<p>{{i.description}}</p>
				</div>
				<div class="col-xs-4">

				</div>
			</div><!-- end .row {{i.name}} -->
			{% endfor %}
		{% endif %}
	{% endmacro %}
	<div>
	{{ all_items(people, 'People') }}{{ all_items(plants, 'Plants') }}{{ all_items(animals, 'Animals') }}{{ all_items(machines, 'Machines') }}{{ all_items(other, 'Other Stuff') }}
	</div>
{% endblock %}
