{% extends "main.html" %}
{% block content %}
{% if place.image %}
<div class="row things-header" style="background-image:url('{{ url_for('uploaded_image', filename = place.image)}}')">
{% else %}
<div class="row">
{% endif %}
	<div class="col-sm-10">
			<h1>Things You See All Over<br>{{ place.name }}</h1>
	</div>
	<div class="col-sm-2">
			<figure class="creator text-center">
				<img class="img-responsive img-circle" alt="{{creator.name}}" src="{{creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
	</div>
</div>

{% include "messages.html" %}

<div class="row">
	<div class="col-xs-12">
		<p>
			<a class="btn btn-info" href="{{url_for('editPlace', place_id = place.id )}}" data-toggle="modal" data-target=".newEditDeleteModal"><i class="fa fa-pencil fa-lg"></i> Edit This Place</a>
			<a class="btn btn-danger" href="{{url_for('deletePlace', place_id = place.id )}}" data-toggle="modal" data-target=".newEditDeleteModal"><i class="fa fa-trash-o fa-lg"></i> Delete This Place</a>
		</p>
	</div>
</div>
<div class="row">
	<p class="text-center">
		<a href="{{url_for('newThing', place_id = place.id )}}" data-toggle="modal" data-target=".newEditDeleteModal" class="btn btn-default btn-lg action-button" id="new-menu-item">
				Add a new thing?
		</a>
	</p>
</div>

	
{% macro all_items(items, kind_of_thing) %}
	{% if items %}
	<div class="things-section">
	<h2>{{kind_of_thing}}</h2>
		{% for i in items %}
			<div class="col-sm-4 text-center things-item">
				<img class="img-responsive img-circle" src="{{ url_for('uploaded_image', filename = i.image)}}" />
				<h3>{{i.name}}</h3>
				<p>{{i.description}}</p>
				<p><a class="btn btn-primary btn-sm" href="{{ url_for('editThing', place_id=place.id, thing_id=i.id) }}" data-toggle="modal" data-target=".newEditDeleteModal">Edit</a> 
				<a class="btn btn-danger btn-sm" href="{{ url_for('deleteThing', place_id=place.id, thing_id=i.id) }}" data-toggle="modal" data-target=".newEditDeleteModal">Delete</a></p>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>
	{% endif %}
{% endmacro %}

{{ all_items(people, 'People') }}
{{ all_items(plants, 'Plants') }}
{{ all_items(animals, 'Animals') }}
{{ all_items(machines, 'Machines') }}
{{ all_items(other, 'Other Stuff') }}

<div class="row">
	<p class="text-center">
		<a href="{{url_for('newThing', place_id = place.id )}}" data-toggle="modal" data-target=".newEditDeleteModal" class="btn btn-default btn-lg action-button" id="new-menu-item">
				What&rsquo;s another thing<br> you can think of?
		</a>
	</p>
</div>


<script>


$('.things-section').each( function() {
	$items = $(this).find('.things-item')
	if ($items.length % 3 == 1 ) {
		$items.last().addClass('col-sm-offset-4')
	} else if ($items.length % 3 == 2 ) {
		$items.last().prev().addClass('col-sm-offset-2')
	}
});

</script>

{% endblock %}